@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  overflow-x: hidden;
}
/* Điện thoại nhỏ */
@media (max-width: 576px) {
  body {
    font-size: 14px;
  }
}

/* Máy tính bảng */
@media (min-width: 768px) {
  body {
    font-size: 16px;
  }
}

/* Laptop nhỏ */
@media (min-width: 992px) {
  body {
    font-size: 18px;
  }
}

/* Desktop lớn */
@media (min-width: 1200px) {
  body {
    font-size: 20px;
  }
}

@layer components {
  .layout-container {
    @apply flex flex-col items-center justify-center gap-10 px-16 py-20 bg-white;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 10px;
  }
  .btn-primary {
    @apply bg-primary uppercase text-body16 font-bold shadow-shadow2 leading-leading_btn text-white px-6 py-3 hover:opacity-80 transition duration-300;
  }

  .btn-secondary {
    @apply bg-neu0 uppercase text-h5 font-bold shadow-shadow1 text-white px-6 py-[10px] hover:opacity-80 transition duration-300;
  }
  .btn-arrow-primary {
    @apply text-white px-[15px] py-3 hover:bg-white hover:text-primary transition duration-300;
  }

  .btn-arrow-slider {
    @apply text-neu1 p-[11px] rounded-lg border-neu3 border px-[15px] py-3 hover:bg-white hover:border-white hover:text-primary transition duration-300;
  }
  .heading_section {
    @apply uppercase text-h2 font-bold text-primary transition duration-300;
  }

  .link_menu {
    @apply uppercase relative inline-block my-0;
    display: inline-block;
  }
  .link_menu {
    @apply text-neu1 text-body font-normal inline-block text-left hover:text-primary transition-all duration-150;
  }
  .link_menu a:hover {
    font-weight: 700;
    text-shadow: 0.5px 0 0 currentColor;
  }
  .link_menu a::before {
    content: attr(title);
    height: 0;
    display: block;
    font-weight: 700;
    overflow: hidden;
    visibility: hidden;
  }
  /* .menu_left .link_menu {
    text-align: left;
  }
  .menu_right .link_menu {
    text-align: right;
  } */
  .logo-area {
    left: calc(50% - 50px);
  }
  .plo::after {
    content: "";
    display: block;
    width: 126px; /* Chiều rộng của logo */
    flex-shrink: 0;
  }
}
